{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
		<img src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="{{ .Site.Params.author }}" style="width:23%">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a Software Engineer based in Toronto, ON.</h3>
	{{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
